openapi: 3.2.0
info:
  title: USDA FAS Open Data Services ESR API
  version: '1.0'
  description: "Best-effort OpenAPI 3.1 description of the USDA Foreign Agricultural\nService (FAS) Open\
    \ Data Services, derived from the public Swagger 2.0\ndocument at https://apps.fas.usda.gov/opendata/swagger/docs/v1\
    \ and the\nOpendataWeb portal at https://apps.fas.usda.gov/opendataweb/home.\nThe API exposes three\
    \ datasets:\n  - ESR: U.S. weekly Export Sales of Agricultural Commodity Data\n  - GATS: Global Agricultural\
    \ Trade System (Census and UN Trade)\n  - PSD: Production, Supply and Distribution\nAuthentication\
    \ uses an `API_KEY` header issued via api.data.gov.\n"
  contact:
    name: USDA Foreign Agricultural Service
    url: https://www.fas.usda.gov/
servers:
- url: https://apps.fas.usda.gov/OpenData
  description: Production
security:
- apiKey: []
tags:
- name: ESR
  description: U.S. Weekly Export Sales of Agricultural Commodity Data
paths:
  /api/esr/regions:
    get:
      tags:
      - ESR
      summary: List ESR regions
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: ESRData_GetRegions
      description: Returns a set of records with Region Codes and Region Names. Use it to associate Region
        Name with Country records obtained by querying Country end point
  /api/esr/countries:
    get:
      tags:
      - ESR
      summary: List ESR countries
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: ESRData_GetCountries
      description: Returns a set of records with Countries and their corresponding Regions Codes the Country
        belongs to. Use it to associate Country Name with Commodity Data records obtained by querying
        Commodity Data End point
  /api/esr/commodities:
    get:
      tags:
      - ESR
      summary: List ESR commodities
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: ESRData_GetCommodities
      description: Returns a set of records with Commodity Information. Use it to associate Commodity
        Name with Commodity Data records obtained by querying Commodity Data End point
  /api/esr/unitsOfMeasure:
    get:
      tags:
      - ESR
      summary: List ESR units of measure
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: ESRData_GetUnitsOfMeasure
      description: Returns a set of records with Units of Measure Information. Use it to associate Unit
        Of Measure Name with Commodity Data redords obtained by querying Commodity Data End point
  /api/esr/datareleasedates:
    get:
      tags:
      - ESR
      summary: List ESR data release dates
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: ESRData_GetDataReleaseInfo
      description: Returns a set of records with the date of the last release of ESR Commodity Export
        Data. Please note that there could be revision on the Export numbers for multiple years on a given
        commodity, and so this API endpoint returns set of records containing data release dates at a
        commodity level Use this information to query for only the Export data that has changed since
        last invocation of this API End point
  /api/esr/exports/commodityCode/{commodityCode}/allCountries/marketYear/{marketYear}:
    parameters:
    - $ref: '#/components/parameters/CommodityCode'
    - $ref: '#/components/parameters/MarketYear'
    get:
      tags:
      - ESR
      summary: Get ESR exports for a commodity across all countries for a market year
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: ESRData_GetAllCountriesData
      description: 'Given Commodity Code (Ex: 104 for Wheat - White ) and MarketYear (Ex: 2017) this API
        End point will return a list of US Export records of White Wheat to all applicable countries from
        USA for the given Market Year. Please see DataReleaseDates end point to get a list of all Commodities
        and the corresponding Market Year data.'
  /api/esr/exports/commodityCode/{commodityCode}/countryCode/{countryCode}/marketYear/{marketYear}:
    parameters:
    - $ref: '#/components/parameters/CommodityCode'
    - $ref: '#/components/parameters/CountryCode'
    - $ref: '#/components/parameters/MarketYear'
    get:
      tags:
      - ESR
      summary: Get ESR exports for a commodity, country, and market year
      responses:
        '200':
          $ref: '#/components/responses/Json'
      operationId: ESRData_GetCountryData
      description: 'Given Commodity Code (Ex: 104 for Wheat - White ), Country Code (Ex:1220 for Canada)
        and MarketYear (Ex: 2017) this API End point will return a list of US Export records of White
        Wheat to Canada from USA for the give Market Year. Please see DataReleaseDates end point to get
        a list of all Commodities and the corresponding Market Year data.'
components:
  parameters:
    MarketYear:
      name: marketYear
      in: path
      required: true
      schema:
        type: integer
    CountryCode:
      name: countryCode
      in: path
      required: true
      schema:
        type: string
    CommodityCode:
      name: commodityCode
      in: path
      required: true
      schema:
        type: string
  responses:
    Json:
      description: JSON response
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              additionalProperties: true
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: API_KEY
      description: API key issued via api.data.gov for the FAS Open Data Services
